global:
  scrape_interval: __SCRAPE_INTERVAL__
  scrape_timeout: 10s
  evaluation_interval: __SCRAPE_INTERVAL__

scrape_configs:
  - job_name: 'pve_cluster'
    metrics_path: /pve
    params:
      module: [default]
      cluster: ['1']
      node: ['0']
      target: ['__PVE_FIRST_NODE_IP__']
    static_configs:
      - targets: ['localhost:9221']

  - job_name: 'pve_nodes'
    metrics_path: /pve
    params:
      module: [default]
      cluster: ['0']
      node: ['1']
    static_configs:
      - targets:
__NODE_IPS_YAML__
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - target_label: __address__
        replacement: 'localhost:9221'

  - job_name: 'node_exporter'
    static_configs:
      - targets:
__NODE_IPS_9100_YAML__
